numpy
pandas
scikit-learn
sdv
tensorflow
tensorflow_io
python-dotenv
django
matplotlib
seaborn
fastparquet
sqlalchemy
pydash
dash
django_plotly_dash
channels
daphne
redis
django-redis
channels-redis
dash-renderer